@keyframes fadeWay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.layout{
  height: 100%;
  .header{
    background-color: rgba(40, 84, 134, 0.863);
    height: 10vh;
    display: flex;
    .logo{
      // border: 1px solid green;
      flex: 4;
      img{
        width: 10vh;
        height: 10vh;
        margin-left: 20vw;
      }
    }
    .right{
      flex: 6;
      height: 10vh;
      font-size: x-large;
      color: rgb(179, 187, 197);
      line-height: 10vh;
      text-align: center;
    }
  }
  .body{
    // border: 1px solid green;
    height: 90vh;
    display: flex;
    overflow: hidden;
    background: url(../assets/bg.jpg) no-repeat;
    background-size: 100% 100%;
    .menu-list{
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      // background-color: rgb(62, 123, 151);
      width: 10vw;
      p{
        margin-top: 1vh;
        padding-left: 1vw;
        cursor: pointer;
        font-size: large;
        color: chocolate;
      }
      ul{
        padding-left: 0;
        list-style: none;
        opacity: 0;
        cursor: pointer;
        animation: fadeWayIn 1s;
        // border: 1px solid rgb(47, 143, 60);
        li{
          height: 5vh;
          line-height: 5vh;
          padding: 3px;
          text-align: center;
          margin: 6px 0;
          border: 0;
          color: rgb(228, 47, 213);
          font-size: large;
          // border: 1px solid red;
          &:hover{
            background-color: rgb(16, 212, 247);
            animation: fadeWay 3s;
          }
        }
        li.selected{
          background-color: rgb(24, 142, 163);
        }
      }
    }
    .content{
      width: 100%;
      // border: 1px solid rgb(0, 60, 255);
      height: 90vh;
    }
  }
}